<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
    <title>Slider</title>
</head>
<body>
    <section>
        <div class="content">
        <h1>New Arrivals</h1>
    </div>
    <swiper-container class="mySwiper" slides-per-view="3" centered-slides="true" space-between="30" pagination="true"
    pagination-type="fraction" navigation="true">
    <swiper-slide> 
        <div class="bloo">
            <div class="bloo1"><img src="images/image 3.svg" alt=""></div> 
            <div class="bloo2"><h5 style="font-size: 28px; font-weight: lighter; margin-left: 4%;">Roadbike - Polygon</h5></div>
            <div class="bloo3">
                <div class="bloo3-1">
                    <h4>Strattos S7D <br> <span class="text" style="color: rgba(149, 149, 149, 1);">$2,000<span class="stripe"></span></span> </h4>
                </div>
                <div class="bloo3-2"><h4> 
                   New <br> $1,450.00 </h4></div>
    
            </div>
        </div>
    </swiper-slide>
    
    <swiper-slide> 
        <div class="bloo">
            <div class="bloo1"><img src="images/image 3.svg" alt=""></div> 
            <div class="bloo2"><h5 style="font-size: 28px; font-weight: lighter; margin-left: 4%;">Roadbike - Polygon</h5></div>
            <div class="bloo3">
                <div class="bloo3-1">
                    <h4>Strattos S7D <br> <span class="text" style="color: rgba(149, 149, 149, 1);">$2,000<span class="stripe"></span></span> </h4>
                </div>
                <div class="bloo3-2"><h4> 
                   New <br> $1,450.00 </h4></div>
    
            </div>
        </div>
    </swiper-slide>

    <swiper-slide> 
        <div class="bloo">
            <div class="bloo1"><img src="images/image 3.svg" alt=""></div> 
            <div class="bloo2"><h5 style="font-size: 28px; font-weight: lighter; margin-left: 4%;">Roadbike - Polygon</h5></div>
            <div class="bloo3">
                <div class="bloo3-1">
                    <h4>Strattos S7D <br> <span class="text" style="color: rgba(149, 149, 149, 1);">$2,000<span class="stripe"></span></span> </h4>
                </div>
                <div class="bloo3-2"><h4> 
                   New <br> $1,450.00 </h4></div>
    
            </div>
        </div>
    </swiper-slide>

    <swiper-slide> 
        <div class="bloo">
            <div class="bloo1"><img src="images/image 3.svg" alt=""></div> 
            <div class="bloo2"><h5 style="font-size: 28px; font-weight: lighter; margin-left: 4%;">Roadbike - Polygon</h5></div>
            <div class="bloo3">
                <div class="bloo3-1">
                    <h4>Strattos S7D <br> <span class="text" style="color: rgba(149, 149, 149, 1);">$2,000<span class="stripe"></span></span> </h4>
                </div>
                <div class="bloo3-2"><h4> 
                   New <br> $1,450.00 </h4></div>
    
            </div>
        </div>
    </swiper-slide>



  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  <script>
    const swiperEl = document.querySelector('swiper-container');
    const swiper = swiperEl.swiper;

    var appendNumber = 4;
    var prependNumber = 1;
    document
      .querySelector(".prepend-2-slides")
      .addEventListener("click", function (e) {
        e.preventDefault();
        swiper.prependSlide([
          '<swiper-slide>Slide ' + --prependNumber + "</swiper-slide>",
          '<swiper-slide>Slide ' + --prependNumber + "</swiper-slide>",
        ]);
      });
    document
      .querySelector(".prepend-slide")
      .addEventListener("click", function (e) {
        e.preventDefault();
        swiper.prependSlide(
          '<swiper-slide>Slide ' + --prependNumber + "</swiper-slide>"
        );
      });
    document
      .querySelector(".append-slide")
      .addEventListener("click", function (e) {
        e.preventDefault();
        swiper.appendSlide(
          '<swiper-slide>Slide ' + ++appendNumber + "</swiper-slide>"
        );
      });
    document
      .querySelector(".append-2-slides")
      .addEventListener("click", function (e) {
        e.preventDefault();
        swiper.appendSlide([
          '<swiper-slide>Slide ' + ++appendNumber + "</swiper-slide>",
          '<swiper-slide>Slide ' + ++appendNumber + "</swiper-slide>",
        ]);
      });
  </script>
  </section>
    
</body>
</html>