<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>
<body> 
    <section class="home-container">
        <div class="content">
        <h4>Zero Emissions</h4>
        <h1>Pedaling means making a <br>
            real contribution to <br>
            cleaner air.</h1>
            <button class="btn">Shop Now</button>

        </div> 
    </section>           
    
</body>
</html>